src/main/resources/api/common-schemas/sdp_singtel_customerbusinessinteraction_common_v1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://group.singtel.com/customerbusinessinteraction-common/types/v1"
	xmlns:ns1="http://group.singtel.com/customerbusinessinteraction-common/types/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:ns2="http://group.singtel.com/core/types/v1" xmlns:tns="http://group.singtel.com/customerbusinessinteraction-common/types/v1">

	<xs:import namespace="http://group.singtel.com/core/types/v1" schemaLocation="sdp_singtel_core_v1.xsd" />

	<xs:annotation>
		<xs:documentation>Shared types from the customer interaction domain which models the information collected when interacting with a Party
			when the
			Party is playing a role as a Customer or potential Customer.
			:
			Singtel interfaces.
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CustomerInteractionID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerInteraction .
				Derived from PIM entity CustomerInteraction in
				the domain customerinteraction.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the CustomerInteraction.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomerProblemAllID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblem .
				Derived from PIM entity CustomerProblem in the
				domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="applicationId" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Application Id of the invoking application [modified] applicationId is the new element.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="id" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the CustomerProblem. Mutually exclusive with elements grouped by the name Identifier.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique reference to be used for this CustomerProblem. Generated by the provider as a human readable reference string.
						The CRM
						external identifier of the CustomerProblem. Mutually exclusive with elements grouped by
						the name Identifier.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomerProblemID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblem .
				Derived from PIM entity CustomerProblem in the
				domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the CustomerProblem.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomerProblemReference" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblem .
				Derived from PIM entity CustomerProblem in the
				domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="applicationId">
				<xs:annotation>
					<xs:documentation>Application Id of the invoking application. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reference">
				<xs:annotation>
					<xs:documentation>A unique reference to be used for this CustomerProblem. Generated by the provider as a human readable reference string.
						The CRM
						external identifier of the CustomerProblem.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
  <xs:complexType name="CustomerProblemSts" final="extension restriction">
    <xs:annotation>
      <xs:documentation>A Business Context Model Identifier.:
Restriction of {http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblem .
Derived from PIM entity CustomerProblem in the domain customerproblem.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="status" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Current status of the customer problem, when status is changed a ChangeStatusLog will be created.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>	

	<xs:complexType name="CustomerProblemTaskID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemTask .
				Derived from PIM entity CustomerProblemTask in
				the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the CustomerProblemTask.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomerServiceLevelAgreement" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerServiceLevelAgreement .
				Derived from PIM entity
				CustomerServiceLevelAgreement in the domain customerservicelevelagreement.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the CustomerServiceLevelAgreement.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomerServiceLevelAgreementItemID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerServiceLevelAgreementItem .
				Derived from PIM entity
				CustomerServiceLevelAgreementItem in the domain customerservicelevelagreement.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the CustomerServiceLevelAgreementItem.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InteractionChannelID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}InteractionChannel .
				Derived from PIM entity InteractionChannel in
				the domain customerinteraction.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the InteractionChannel.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProductOrderID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}ProductOrder .
				Derived from PIM entity ProductOrder in the domain
				customerorder.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The Ordering internal identifier of the ProductOrder.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProductOrderItemID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}ProductOrderItem .
				Derived from PIM entity ProductOrderItem in the
				domain customerorder.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The Ordering internal identifier of the ProductOrderItem.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WorkaroundID" final="extension restriction">
		<xs:annotation>
			<xs:documentation>A Business Context Model Identifier.:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}Workaround .
				Derived from PIM entity Workaround in the domain
				customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id">
				<xs:annotation>
					<xs:documentation>The CRM internal identifier of the Workaround.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CustomerProblemClassification">
		<xs:annotation>
			<xs:documentation>Resolution classification of the problem description to the Workaround.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemClassification .
				Derived from PIM entity
				CustomerProblemClassification in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemCondition">
		<xs:annotation>
			<xs:documentation>The condition of the CustomerProblem. These values are not implementation extendable.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemCondition .
				Derived from PIM entity
				CustomerProblemCondition in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemPriority">
		<xs:annotation>
			<xs:documentation>Defines the relative importance of the CustomerProblem. The priority usually influences business rules and in selecting
				the
				entitlement to support.
				:
				Restriction of {http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemPriority .
				Derived from PIM entity CustomerProblemPriority in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemSeverity">
		<xs:annotation>
			<xs:documentation>Response severity of the customer problem
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemSeverity .
				Derived from PIM entity
				CustomerProblemSeverity in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemStatus">
		<xs:annotation>
			<xs:documentation>Current status of the customer problem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemStatus .
				Derived from PIM entity CustomerProblemStatus
				in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemStatusClose">
		<xs:annotation>
			<xs:documentation>Current close status of the customer problem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemStatus .
				Derived from PIM entity CustomerProblemStatus
				in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemStatusOpen">
		<xs:annotation>
			<xs:documentation>Current open status of the customer problem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemStatus .
				Derived from PIM entity CustomerProblemStatus
				in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemTypeLevel1">
		<xs:annotation>
			<xs:documentation>The top level categorization of the CustomerProblem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemTypeLevel1 .
				Derived from PIM entity
				CustomerProblemTypeLevel1 in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemTypeLevel1All">
		<xs:annotation>
			<xs:documentation>The top level categorization of the CustomerProblem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemTypeLevel1 .
				Derived from PIM entity
				CustomerProblemTypeLevel1 in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemTypeLevel2">
		<xs:annotation>
			<xs:documentation>The second level categorization of the CustomerProblem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemTypeLevel2 .
				Derived from PIM entity
				CustomerProblemTypeLevel2 in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemTypeLevel2All">
		<xs:annotation>
			<xs:documentation>The second level categorization of the CustomerProblem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemTypeLevel2 .
				Derived from PIM entity
				CustomerProblemTypeLevel2 in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemTypeLevel3">
		<xs:annotation>
			<xs:documentation>The third level categorization of the CustomerProblem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemTypeLevel3 .
				Derived from PIM entity
				CustomerProblemTypeLevel3 in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="CustomerProblemTypeLevel3All">
		<xs:annotation>
			<xs:documentation>The third level categorization of the CustomerProblem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}CustomerProblemTypeLevel3 .
				Derived from PIM entity
				CustomerProblemTypeLevel3 in the domain customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="Direction">
		<xs:annotation>
			<xs:documentation>The direction of the interaction.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}Direction .
				Derived from PIM entity Direction in the domain
				customerinteraction.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INBOUND">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OUTBOUND">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ServiceTechnologyType">
		<xs:annotation>
			<xs:documentation>The technology type of the service.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}Direction .
				Derived from PIM entity Direction in the domain
				customerinteraction.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fibre">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADSL">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PSTN">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="InteractionType">
		<xs:annotation>
			<xs:documentation>The type of interaction. For example: complaint, schedule pick-up, Literature Request, product interest, etc..
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}InteractionType .
				Derived from PIM entity InteractionType in the
				domain customerinteraction.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CALL">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EMAIL">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAX">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN_PERSON">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IVR">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LETTER">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEB">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MediumType">
		<xs:annotation>
			<xs:documentation>Cross-locale ID of the medium.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}MediumType .
				Derived from PIM entity MediumType in the domain
				customerinteraction.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EMAIL">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAX">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GENERIC">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PHONE">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SELF_SERVICE">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PayOption">
		<xs:annotation>
			<xs:documentation>Type of payment for the interaction. For example non-billable, contract, incident, pay-per-call.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}PayOption .
				Derived from PIM entity PayOption in the domain
				customerinteraction.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CONTRACT_INCIDENT">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONTRACT_TIME">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CREDIT_CARD">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FREE">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NONE">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Resolution">
		<xs:annotation>
			<xs:documentation>The resolution that was used to close the CustomerProblem.
				:
				Restriction of
				{http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}Resolution,
				Derived from PIM entity Resolution in the domain
				customerproblem.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	
	<xs:complexType name="RepeatCallerDetails" final="extension restriction">
    <xs:annotation>
      <xs:documentation>The Repeated Caller details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="interactionId" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A unique identifier. Provider write only.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="reason1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Categorization of the reason for this item of the interaction.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="reason2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Categorization of the reason for this item of the interaction.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ProductOrderItemReason" final="extension restriction">
    <xs:annotation>
      <xs:documentation>A reason that ProductOrderItems might be initiated.

For example:

	win back - a Product is provided perhaps at advantageous conditions to retain the customer
	left country - a ProductOrderItem is disconnects since the customer emigrated
	change - changes the configuration of an installed Product
	automatic Due to Dependency - initiated by the system to resolve a dependency


The reasons are associated to ProductOrderItemTypes as not all reasons are relevant to all types. For example a reason
of customer deceased would not be relevant for a provide type.

Defining the reasons and the type/reason relations is an implementation activity.
:
Derived from PIM entity ProductOrderItemReason in the domain customerorder.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reasonType" type="ns1:ProductOrderItemReasonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The type of the reason. e.g. Customer request</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="ProductOrderItemReasonType">
    <xs:annotation>
      <xs:documentation>A reason that Product Order Items might be initiated. For example: win back - a Product is provided perhaps at
advantageous conditions to retain the customer; left country - a Product is disconnected since the customer emigrated;
change - changes the configuration of an installed Product; automatic Due to Dependency - initiated by the system to
resolve a dependency. The reasons are associated to Product Order Item Types as not all reasons are relevant to all
types. For example a reason of customer deceased would not be relevant for a provide type. Defining the reasons and the
type/reason relations is an implementation activity.
:
Restriction of {http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}ProductOrderItemReasonType,
Derived from PIM entity ProductOrderItemReason in the domain customerorder.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="WINBACK">
        <xs:annotation>
          <xs:documentation>Attempt to Win the Customer Back</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CUSTOMER_DISSATISFIED">
        <xs:annotation>
          <xs:documentation>Customer Was Dissatisfied</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DATA_QUALITY_PROBLEM">
        <xs:annotation>
          <xs:documentation>Data Quality Problem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CUSTOMER_LEFT_WITHOUT_NOTIFYING">
        <xs:annotation>
          <xs:documentation>Customer Left without Notifying</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CUSTOMER_DISSATISFIED_PRICE_STRUCTURE">
        <xs:annotation>
          <xs:documentation>Customer Was Dissatisfied with Price Structure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CUSTOMER_DISSATISFIED_SERVICE_QUALITY">
        <xs:annotation>
          <xs:documentation>Customer Was Dissatisfied with Service Quality</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SUSPEND_REASON_RESOLVED">
        <xs:annotation>
          <xs:documentation>Suspend Reason Was Resolved</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LEAVING_COUNTRY">
        <xs:annotation>
          <xs:documentation>Customer Is Leaving Country</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTHER">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRECAUTION_BANKRUPTCY">
        <xs:annotation>
          <xs:documentation>Precautionary Measure in Advance of Bankruptcy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CUSTOMER_DECEASED">
        <xs:annotation>
          <xs:documentation>Customer Deceased</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRECAUTION_LAWSUIT">
        <xs:annotation>
          <xs:documentation>Precautionary Measure in Advance of Lawsuit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LATE_PAYMENT_RECEIVED">
        <xs:annotation>
          <xs:documentation>Late Payment Received</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OLO_REQUEST">
        <xs:annotation>
          <xs:documentation>Request from Other Licensed Operator</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AUTOCAN">
        <xs:annotation>
          <xs:documentation>Automatic Cancellation after Failure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CREQ">
        <xs:annotation>
          <xs:documentation>Customer Request</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="POUT">
        <xs:annotation>
          <xs:documentation>Port Out</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RCCM">
        <xs:annotation>
          <xs:documentation>Registration of Cold SIM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ADDSS">
        <xs:annotation>
          <xs:documentation>Add Slave SIM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACC">
        <xs:annotation>
          <xs:documentation>Amend - Change Configuration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACRR">
        <xs:annotation>
          <xs:documentation>Amend - Customer requested reschedule</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ANBNIR">
        <xs:annotation>
          <xs:documentation>Amend - NBN initiated reschedule</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AOIR">
        <xs:annotation>
          <xs:documentation>Amend - Optus initiated reschedule</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="APC">
        <xs:annotation>
          <xs:documentation>Amend - Port Correction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ATIR">
        <xs:annotation>
          <xs:documentation>Amend - Telstra initiated reschedule</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BYP01">
        <xs:annotation>
          <xs:documentation>Bypass provisioning</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CAO">
        <xs:annotation>
          <xs:documentation>Cease Add On</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHPLAN">
        <xs:annotation>
          <xs:documentation>Change Plan</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CNAPPT">
        <xs:annotation>
          <xs:documentation>Cancel Appointment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CRSCA">
        <xs:annotation>
          <xs:documentation>Cross Carriage</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CSIM">
        <xs:annotation>
          <xs:documentation>Change SIM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHH">
        <xs:annotation>
          <xs:documentation>Change Handset</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHNO">
        <xs:annotation>
          <xs:documentation>Change Number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHRPL">
        <xs:annotation>
          <xs:documentation>Change Rate Plan</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHSUB">
        <xs:annotation>
          <xs:documentation>Change Subscriber</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHUN">
        <xs:annotation>
          <xs:documentation>Change Username</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CHVAS">
        <xs:annotation>
          <xs:documentation>Change VAS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CSRVC">
        <xs:annotation>
          <xs:documentation>Credit Services</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CT">
        <xs:annotation>
          <xs:documentation>Change in Technology</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DEVEXC">
        <xs:annotation>
          <xs:documentation>Device Exchange</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DOA">
        <xs:annotation>
          <xs:documentation>Dead On Arrival</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ELF">
        <xs:annotation>
          <xs:documentation>Early Life Fail</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FLTSIM">
        <xs:annotation>
          <xs:documentation>Faulty SIM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HR">
        <xs:annotation>
          <xs:documentation>Handset Recovered</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IRB">
        <xs:annotation>
          <xs:documentation>Initiate report back</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LNS">
        <xs:annotation>
          <xs:documentation>Lost and Stolen</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M2R">
        <xs:annotation>
          <xs:documentation>Multi SIM to Regular SIM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MSIM">
        <xs:annotation>
          <xs:documentation>Multi SIM</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MWV">
        <xs:annotation>
          <xs:documentation>Multi SIM charge waiver upon activation on same day</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MFA">
        <xs:annotation>
          <xs:documentation>Manual/Force activation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MIG">
        <xs:annotation>
          <xs:documentation>Migration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MR">
        <xs:annotation>
          <xs:documentation>Modem Replacement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NU">
        <xs:annotation>
          <xs:documentation>Nuisance / Harassing Calls</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="POTOPR">
        <xs:annotation>
          <xs:documentation>Post to Pre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRTOPO">
        <xs:annotation>
          <xs:documentation>Pre to Post</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAO">
        <xs:annotation>
          <xs:documentation>Provide Add On</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RECON">
        <xs:annotation>
          <xs:documentation>Recontracting</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RWNP">
        <xs:annotation>
          <xs:documentation>Registration with Number Porting</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RPIN">
        <xs:annotation>
          <xs:documentation>Reset PIN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RPSC">
        <xs:annotation>
          <xs:documentation>Re-pair smart card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RSTB">
        <xs:annotation>
          <xs:documentation>Replace STB/Get new activation code</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SIMLCK">
        <xs:annotation>
          <xs:documentation>SIM Lock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UPSN">
        <xs:annotation>
          <xs:documentation>Update Serial Number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BIR_REGISTRATION">
        <xs:annotation>
          <xs:documentation>BIR_REGISTRATION</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BIR_CANCELLATION">
        <xs:annotation>
          <xs:documentation>BIR_CANCELLATION</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRESELECTION_CHURN_REQUEST">
        <xs:annotation>
          <xs:documentation>PRESELECTION_CHURN_REQUEST</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRESELECTION_LD_CHURN">
        <xs:annotation>
          <xs:documentation>PRESELECTION_LD_CHURN</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ProductOrderItemType">
    <xs:annotation>
      <xs:documentation>An action to be performed on a Product in the context of a Product Order Item. For example: Provide - installs or
provides a new instance of a Product; Cease - terminates or disconnects an installed Product; Change - changes the
configuration of an installed Product. The types are defined in implementation. In Amdocs Ordering, known as Order
Action Type
:
Restriction of {http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}ProductOrderItemType,
Derived from PIM entity ProductOrderItemType in the domain customerorder.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD">
        <xs:annotation>
          <xs:documentation>Add Product to Offer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AF">
        <xs:annotation>
          <xs:documentation>Add/Remove Component in SMS (provisioning is first)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AN">
        <xs:annotation>
          <xs:documentation>Add/Remove Component in SMS (notify billing first)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AP">
        <xs:annotation>
          <xs:documentation>Add/Remove Price Plan in SMS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AS">
        <xs:annotation>
          <xs:documentation>Align Subscription</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BA">
        <xs:annotation>
          <xs:documentation>Bulk Provide SMB Subscription</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CA">
        <xs:annotation>
          <xs:documentation>Cancel</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CE">
        <xs:annotation>
          <xs:documentation>Cease</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CG">
        <xs:annotation>
          <xs:documentation>Change Part of Migrate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CH">
        <xs:annotation>
          <xs:documentation>Change</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CI">
        <xs:annotation>
          <xs:documentation>Cease Part of Migrate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CM">
        <xs:annotation>
          <xs:documentation>Cease Part of Move</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CN">
        <xs:annotation>
          <xs:documentation>Set PortIn Number</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CT">
        <xs:annotation>
          <xs:documentation>Change Contact</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CW">
        <xs:annotation>
          <xs:documentation>Change Ownership</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ES">
        <xs:annotation>
          <xs:documentation>Reestablish</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FC">
        <xs:annotation>
          <xs:documentation>Change Agreement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FP">
        <xs:annotation>
          <xs:documentation>Provide Agreement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MC">
        <xs:annotation>
          <xs:documentation>Cease Part of Migrate and Move</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MM">
        <xs:annotation>
          <xs:documentation>Provide Part of Migrate and Move</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MV">
        <xs:annotation>
          <xs:documentation>Move</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ND">
        <xs:annotation>
          <xs:documentation>Notify Discounts</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PA">
        <xs:annotation>
          <xs:documentation>Prepaid Activation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PM">
        <xs:annotation>
          <xs:documentation>Provide Part of Migrate</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PO">
        <xs:annotation>
          <xs:documentation>Port Out</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PR">
        <xs:annotation>
          <xs:documentation>Provide</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PS">
        <xs:annotation>
          <xs:documentation>Add subscription to agreement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PV">
        <xs:annotation>
          <xs:documentation>Provide Part of Move</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RC">
        <xs:annotation>
          <xs:documentation>Cease Part of Replace Offer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RG">
        <xs:annotation>
          <xs:documentation>Change Part of Replace Offer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RO">
        <xs:annotation>
          <xs:documentation>Replace Offer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RS">
        <xs:annotation>
          <xs:documentation>Resume</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SA">
        <xs:annotation>
          <xs:documentation>Provide SMB Subscription</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SG">
        <xs:annotation>
          <xs:documentation>Change Account</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SU">
        <xs:annotation>
          <xs:documentation>Suspend</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
    <xs:complexType name="ProductID" final="extension restriction">
    <xs:annotation>
      <xs:documentation>A ProductSpecification procured by a Customer. A Product models this instance of a ProductSpecification.

		Note:  In Amdocs Ordering this serves as both an Assigned Product and an Ordered Product. An Ordered Product has no
		activation date and has a status indicating that it is ordered.
		
		A Product may be part of a complex structure of Products. The structure is typically based on relationships between
		ProductSpecifications defined in ProductSpecContainment and ProductSpecRelationship. The structure is instantiated
		through ProductContainment and ProductRelationship.
		
		A Product is uniquely identified by its Product.ID and Product.version. When information regarding an existing Product
		is changed a new instance is created with the same Product.ID and different Product.version. If a Product has
		associated contained Products defined in ProductContainment then when it changes by definition all of the contained
		Products must have new instances created for them. The history of a product is described by multiple Products with the
		same Product.ID value.
		
		The permitted status transitions of a Product are defined by the provider of any status update operations.
		:
		Restriction of {http://amdocs/pbg-portfolio/customerproduct/types-unqualified/v1}Product,
		Derived from PIM entity Product in the domain product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id">
        <xs:annotation>
          <xs:documentation>A unique identifier when combined with Product.version. Provider write only.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ProductOrderItemReasonTypeAndText" final="extension restriction">
    <xs:annotation>
      <xs:documentation>A reason that ProductOrderItems might be initiated.

For example:

	win back - a Product is provided perhaps at advantageous conditions to retain the customer
	left country - a ProductOrderItem is disconnects since the customer emigrated
	change - changes the configuration of an installed Product
	automatic Due to Dependency - initiated by the system to resolve a dependency


The reasons are associated to ProductOrderItemTypes as not all reasons are relevant to all types. For example a reason
of customer deceased would not be relevant for a provide type.

Defining the reasons and the type/reason relations is an implementation activity.
:
Derived from PIM entity ProductOrderItemReason in the domain customerorder.:
Restriction of {http://amdocs/pbg-portfolio/customerbusinessinteraction/types-unqualified/v1}ProductOrderItemReason,
Derived from PIM entity ProductOrderItemReason in the domain customerorder.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reasonText" type="ns2:BinaryObject" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Free text for ProductOrderItem.reason, if the reason type required input of free text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reasonType" type="tns:ProductOrderItemReasonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The type of the reason. e.g. Customer request</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
 
  
</xs:schema>

